.body_menu, body {
    background: url("/image/menu_background.jpg") no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial;
    margin: 0;
    color:white;
}

.div_menu_title {
    margin-top:25px;
    margin-bottom:35px;
}
.h1_menu_title {
    color: white;
    background-color: #DD7835;
    display: inline;
    padding: 8px 22px;
}

.small_logo {
    margin-left: 35px;
    margin-top: 20px;
}

.list_menu {
    margin-left: 50px;
}

.list_menu_item {
    font-size: 20px;
    margin: 30px 0px;
}

.list_menu_name {
    font-weight: bold;
}

.list_menu_price {
    margin-left: 8px;
    color:coral;
}

.list_menu_ingre {
    display:block;
    color: #C8C8C8;
    font-size: 14px;
    margin-top:5px
}