body {
    background: url("/image/menu_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    color:white;
    background-color:#DD7835;

}

#small_logo{
    margin-left: 35px;
    margin-top: 20px;
}

li {
    color: white;
}