@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pizza Mama</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body class="main_body">
        <div class="main_menu">
            <img src="~/image/main_logo.png" class="main_logo"/>
            <a asp-page="MenuPizzas">See the menu</a>
        </div>
    </body>
</html>