@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Mama</title>
    </head>
    <body>
        <div class="text-center">
        <h1 class="display-4">Pizza Mama HomePage</h1>
        <a asp-page="MenuPizzas">See Menu</a>
        </div>
    </body>
</html>