@page
@model pizza_mama.Pages.MenuPizzasModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Menu</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <img src="~/image/small_logo.png" id="small_logo" />
        <ul>
            @foreach(var pizza in Model.Pizza)
            {
                <li>
                    @pizza.name - @pizza.price € - @pizza.vegan - @pizza.ingredients
                </li>
            }
        </ul>
        <a asp-page="Index">Home</a>
    </body>
</html>

                    

