@page
@model pizza_mama.Pages.MenuPizzasModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Menu</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body class="body_menu">
        <a asp-page="Index">
            <img src="~/image/small_logo.png" class="small_logo"  />
        </a>
        <div class="div_menu_title">
            <h1 class="h1_menu_title">The Menu</h1>
        </div>
        <div class="list_menu">
            @foreach(var pizza in Model.Pizza)
            {
                <div class="list_menu_item">
                    <span class="list_menu_name">
                        @pizza.name
                    </span>
                    <span class="list_menu_price">
                        @String.Format("{0:0.00}", pizza.price)€
                    </span>
                    <br/>
                    <span class="list_menu_ingre">
                        @pizza.ingredients
                    </span>
                @if (@pizza.vegan)
                {
                    <span class="list_menu_vegan">Vegan</span>
                }
                </div>
            }
        </div>
    </body>
</html>

                    

