@page
@model pizza_mama.Pages.Admin.IndexModel
@{
}

<h1>Enter your login & password</h1>
<br />

@if(Model.DisplayInvalidAccountMessage)
{
    <div class="alert alert-danger" role="alert">
        Error, login or password wrong
    </div>
}

<form method="post">
    <input type="text" name="Username" placeholder="Login"/><br /><br />
    <input type="password" name="Password" placeholder="Password"/><br /><br />
    <button>Login</button>
</form>