@page
@model pizza_mama.Pages.Admin.IndexModel
@{
}

<form method="post">
    <input type="text" name="Username" placeholder="Login"/>
    <input type="password" name="Password" placeholder="Password"/>
    <button>Login</button>
</form>