@page
@model pizza_mama.Pages.Admin.IndexModel
@{
}

<form method="post">
    <input type="text" name="Username" placeholder="Login"/><br /><br />
    <input type="password" name="Password" placeholder="Password"/><br /><br />
    <button>Login</button>
</form>